
  <section id="service" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h2>Nuestros Servicios</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <i class="fa fa-cut" style="font-size: 2em; color: #000;"></i>
              <h5 class="card-title mt-2">Corte de Pelo</h5>
              <p class="card-text">Descripción breve del servicio de corte de pelo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <i class="fa fa-paint-brush" style="font-size: 2em; color: #000;"></i>
              <h5 class="card-title mt-2">Maquillaje</h5>
              <p class="card-text">Descripción breve del servicio de maquillaje.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <i class="fa fa-spa" style="font-size: 2em; color: #000;"></i>
              <h5 class="card-title mt-2">Spa</h5>
              <p class="card-text">Descripción breve del servicio de spa.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <i class="fa fa-spa" style="font-size: 2em; color: #000;"></i>
                <h5 class="card-title mt-2">Spa</h5>
                <p class="card-text">Descripción breve del servicio de spa.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <i class="fa fa-spa" style="font-size: 2em; color: #000;"></i>
                <h5 class="card-title mt-2">Spa</h5>
                <p class="card-text">Descripción breve del servicio de spa.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body text-center">
                <i class="fa fa-spa" style="font-size: 2em; color: #000;"></i>
                <h5 class="card-title mt-2">Spa</h5>
                <p class="card-text">Descripción breve del servicio de spa.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>