<section id="about">
    <div class="container">
      <div class="row align-items-center mt-xl-5">
        <div class="offset-md-1 col-md-5">
          <img src="android-chrome-384x384.png" alt="">
        </div>
        <div class="col-md-5 mt-5 mt-md-0">
          <div class="mb-3">
            <h2 class="display-6 fw-semibold">Sobre nosotros</h2>
          </div>
          <p>
            En <strong>Magic D Studios</strong> , te ofrecemos una experiencia única
             donde te sentirás cómoda mientras transformamos tus 
             uñas y pestañas en verdaderas obras de arte. Déjanos 
             hacer magia en el diseño de tus uñas y en la colocación 
             de pestañas para que luzcas una mirada deslumbrante.
          </p>
          <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="70px">
              <use href="#tick-circle" class="text-secondary" />
            </svg>
            <p class="ps-4"> 
              <strong>Ambiente Confortable y Relajante:</strong>
              Disfruta de un espacio acogedor donde te sentirás 
              cómoda y relajada mientras nuestros expertos cuidan 
              de tus uñas y pestañas.</p>
          </div>
          <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="70px">
              <use href="#tick-circle" class="text-secondary" />
            </svg>
            <p class="ps-4">
              <strong>Diseño y Colocación de Alta Calidad:</strong> 
              Nos especializamos en crear diseños únicos y personalizados 
              para tus uñas y en la colocación precisa y profesional
               de pestañas, garantizando resultados espectaculares.
            </p>
          </div>
          <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px">
              <use href="#tick-circle" class="text-secondary" />
            </svg>
            <p class="ps-4">
              <strong>Atención Personalizada por Expertos: </strong>
              Recibe un servicio excepcional de la mano de nuestros 
              profesionales altamente capacitados, dedicados a realzar 
              tu belleza y a brindarte la mejor experiencia posible.
            </p>
          </div>
          <a href="about.html" class="btn btn-primary px-5 py-3 mt-4">Reserva ahora</a>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>