<main class="form-signin w-100 m-auto">
    <form>
      <img class="logo" src="../../asset/android-chrome-192x192.png" alt="" text-al>
      <h1 class="h3 mb-3 fw-normal" style="text-align: center">Iniciar sesión</h1>
      <br>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Correo Electronico</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
      <br>
      <button class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesion</button>
    </form>
    <br>
    <div class="text-center">
      <a routerLinkActive="active"routerLink="/login/resetpassword" class="small azul" style="text-decoration: none;">¿Olvidaste tu contraseña?</a>
      <hr>
      <a routerLinkActive="active"routerLink="/login/create" class="small rojo">Crear una cuenta ahora</a>
    </div>
    
  </main>