<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Informacion de contacto</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> Dirección</h6>
                                <p>Condesa Ave Petroleos, Chalco, CP 57820</p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> Numero Telefonico</h6>
                                <p><span>55-71-17-81-31</span><span>51-25-66-88-86</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> Soporte</h6>
                                <p>magicdgmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>Envianos un mensaje</h5>
                        <form action="#">
                            <input type="text" placeholder="Nombre">
                            <input type="email" placeholder="Correo electronico">
                            <textarea placeholder="Mensaje"></textarea>
                            <button type="submit" class="site-btn">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h5 class="text-center">Nuestra ubicación</h5>
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8877.896456313678!2d-99.00393730827892!3d19.3896875438705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1695887457989!5m2!1ses!2smx"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>            
    </div>
</div>
</section>

<newsletter></newsletter>