<br>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-menu">
          <a routerLinkActive="active"routerLink="inicio">
            <img
              src=".../../asset/mstile-150x150.png"
              alt="logo"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 my-3">
        <div class="footer-menu">
          <h5 class="fw-bold mb-4">Enlaces rapidos</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mb-2">
              <a
                routerLinkActive="active"
                routerLink="inicio"
                class="footer-link"
                >Inicio</a
              >
            </li>
            <li class="menu-item mb-2">
              <a
                routerLinkActive="active"
                routerLink="unas"
                class="footer-link"
                >Uñas</a
              >
            </li>
            <li class="menu-item mb-2">
              <a
                routerLinkActive="active"
                routerLink="pestanas"
                class="footer-link"
                >Pestañas</a
              >
            </li>
            <li class="menu-item mb-2">
              <a
                routerLinkActive="active"
                routerLink="disenos"
                class="footer-link"
                >Diseños</a
              >
            </li>
            <li class="menu-item mb-2">
              <a
                routerLinkActive="active"
                routerLink="contactanos"
                class="footer-link"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 my-3">
        <div class="footer-menu">
          <h5 class="fw-bold mb-4">Información</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">Politica de privacidad</a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">Aviso legal</a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">Politica de cookies</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-lg-2 my-3">
        <div class="footer-menu">
          <h5 class="fw-bold mb-4">Centro de ayuda</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">Preguntas frecuentes</a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">Verificar</a>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="col-sm-6 col-lg-4 my-3">
        <div class="footer-menu">
          <h5 class="fw-bold mb-4">Atención al cliente</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mb-2">
              <a href="mailto:infomagicd@gmail.com" class="footer-link">
                <i class="fa-regular fa-envelope" style="color: #000000;"></i>
                inforgmail.com
              </a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">
                <i class="fa-regular fa-calendar-days"></i>
                Lunes - Viernes
              </a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">
                <i class="fa-brands fa-whatsapp" style="color: #000000;"></i>
                55 8990 8789 - 8:00am / 7:00pm
              </a>
            </li>
            <li class="menu-item mb-2">
              <a href="#" class="footer-link">
                <i class="fa-solid fa-phone" style="color: #0a0a0a;"></i>
                55 5262 5927 - 8:00am / 7:00pm
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="footer-bottom">
  <hr class="text-black-50" />
  <div class="container">
    <div class="row py-3">
      <div class="col-md-6">
        <p>© 2024 Magic D. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-right">
        <a href="#">
          <svg
            class="social-icon"
            style="color: #808386"
            width="30"
            height="30"
            aria-hidden="true"
          >
            <use xlink:href="#facebook"></use>
          </svg>
        </a>

        <a href="#">
         <svg
          class="social-icon"
          style="color: #808386"
          width="30"
          height="30"
          aria-hidden="true"
        >
          <use xlink:href="#twitter"></use>
        </svg> 
        </a>

        

        <a href="#">
          <svg
          class="social-icon"
          style="color: #808386"
          width="30"
          height="30"
          aria-hidden="true"
        >
          <use xlink:href="#instagram"></use>
        </svg>
        </a>
        
      </div>
    </div>
  </div>
</div>