<section id="register">
  <div class="container padding-medium">
    <div class="row align-items-center">
      <div class="offset-md-1 col-md-5 ">
        <div>
          <h2 class="display-6 fw-semibold">¡Suscríbete a nuestro Newsletter! </h2>
          <p class="text-secondary ">Se la primera en enterarte de las nuevas colecciones, ofertas y descuentos que tenemos.</p>
        </div>
      </div>
      <div class="col-md-5">
        <form id="form">
          <input type="email" name="email" placeholder="Correo electronico"
            class="form-control bg-white border-0 rounded-4 shadow-none rounded-pill text-center px-4 py-3 w-100 mb-4">
          <div class="d-grid">
            <button class="btn btn-primary px-5 py-3"> Recibir noticias</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>